* {
	box-sizing: border-box;
	font-family: Comic Sans MS;
}

.row {
	width: 100%;
	display: inline-block;
}
p {
	color: black;
	padding: 0px 5px 0px 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	

}

h1 {
	text-align: center;
}

.chicken {
	background-color: pink;
	border: 2px solid black;
	vertical-align: top;
	text-align: center;
	margin-left: 70%;
	width: 30%;

}

.beef {
	background-color: rgb(168, 10, 10);
	color: white;
	border: 2px solid black;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 70%;
	width: 30%;
}

.sushi {
	background-color: rgb(219, 219, 112);
	border: 2px solid black;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 70%;
	width: 30%;
}

.text {
	width: 90%;
	border: 3px solid black;
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	overflow-y: hidden;
}

@media (min-width: 992px) {
.col-md-4 {
		float: left;
		width: 33.33%;
		height: auto;
		overflow: auto;
		overflow-y: hidden;
		margin: auto;	
	  }
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
		height: auto;
		overflow: auto;
		overflow-y: hidden;
		margin: auto;
		padding-bottom: 10px;

	}

	.col-md-12 {
		float: left;
		height: auto;
		overflow: auto;
		overflow-y: hidden;
		margin: auto;	
	}
	.sushi {
		margin-left: 85%;
		width: 15%;
	}
	.sushi-text {
		width: 95%;
		border: 3px solid black;
		background-color: gray;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
		overflow-y: hidden;
	}
}

@media (max-width: 767px) {
	.col-xs-12 {
		float: left;
		width: 100%;
		height: auto;
		overflow: auto;
		overflow-y: hidden;
		margin: auto;
		padding-bottom: 10px;
	}
}