body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 0;
}

#header-nav h1 {
	color: black;
	margin-left: 30px;
	text-align: center;
	margin-top: -7px;
}

.navbar.navbar-default .navbar-collapse {
	border: 0;
	box-shadow: none;
}

.food-text {
	background-color: grey;
	margin-bottom: 15px;
	margin-top: 10px;
	padding: 8px;
	font-weight: bold;

}

.food-text h3 {
	font-weight: bold;
	text-align: center;
	display: block;
	font-size: 24px;
	margin-top: 10px;

}

.navbar-brand {
	color: black;
}

.navbar-toggle {
	border: 2px solid black;
	padding: 5px 5px;
	height: 35px;

}

.navbar-default .navbar-toggle {
	border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

.navbar-toggle .icon-bar {
	width: 28px;
	height: 4px;
}


.nav>li>a {
	text-align: center;
	border: 1px solid black;
	padding: 2px;
}

.navbar-default .navbar-nav>li>a {
	color: black;
}